.card {
  overflow: hidden;
  height: 100%;
}
.card .image {
  height: 95%;
}

.containerTitle {
  z-index: 2;
  height: auto;
  display: flex;
  align-self: stretch;
  justify-self: flex-start;
  align-items: center;
  padding: 0.8em;
  background: #fff;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
}
.containerTitle .title {
  width: calc(80% - 1em);
}
.containerTitle .score {
  width: 3.5em;
  cursor: pointer;
  height: 3.5em;
  display: flex;
  border-radius: 0.5em;
  margin-left: 1em;
  padding: 1em;
  align-items: center;
  background: #fff;
  border: 1px solid lightblue;
  transition: transform 0.8s ease-in;
  justify-content: space-around;
}
.containerTitle .score:hover {
  background: lightblue;
}
.overlay {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 3.2em;
  right: 0;
  height: 0;
  opacity: 0;
  z-index: 1;
  transform: translateY(101%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}
.card:hover .overlay {
  max-height: 100%;
  opacity: 1;
  height: auto;
  transform: translateY(-10%);
}
